*/*/*/*/*/__pycache__
minermedic/__pycache__
minermedic/api/__pycache__
minermedic/api/.DS_Store
minermedic/miners/__pycache__
minermedic/miners/.DS_Store
minermedic/pools/__pycache__
minermedic/pools/.DS_Store
*/*/__pycache__
*/*/.DS_Store
*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/__pycache__
*/*/*/__pycache__
test/apps/minermedic/resources/miners/.DS_Store
*/*/*/*/*/.DS_Store
*/*/*/*/__pycache__
.DS_Store
.gitmodules
minermedic.ini
phenome/test_app.lic
