<html>
<head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/ip-address.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css"/>
</head>
<style>

</style>
<body>
    <button id="addRow">Add new row</button>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>IP</th>
            <th>Worker</th>
            <th>Hash rate</th>
            <th>Temperatures</th>
            <th>Fans</th>
        </tr>
    </thead>
</table>

<script>
$(document).ready(function() {
    $('#example').DataTable( {
        "ajax": "/api/v1/192.168.1.232",
        "columns": [
            { "data": "ip" },
            { "data": "worker" },
            { "data": "hash_rate" },
            { "data": "temperatures" },
            { "data": "fans" },
        ]
    } );
} );
</script>
</body>
</html>