<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="120">
    <title>MinerMedic {{ version }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h2>MinerMedic {{ version }}</h2>

<style>
.miner tr {
    background-color: #0073e6;
    color: white;
}

.miner th {
    background-color: #0073e6;
    color: white;
}

#settings {
    background-color: white;
    padding: 15px;
    text-align: center;
    display: none;
    z-index: 99 !important;
    position:absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
    height: 250px;
}

</style>

<script>

function edit_miner(miner_id) {

    var x = document.getElementById("settings");

    if (x.style.display != "block") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }

    var settings_form = document.getElementById("settings_form");

        $.ajax({
            type : "POST",
            url : "{{ url_for('minermedic.load_miner_info') }}",
            data: JSON.stringify(miner_id, null, '\t'),
            contentType: 'application/json;charset=UTF-8',
            success: function(result) {

                settings_form.elements["miner_id"].value = result.data[0]['id'];
                settings_form.elements["expected_hash_rate"].value = result.data[0]['hashrate'];
                settings_form.elements["max_fan_warn"].value = result.data[0]['fan_warning'];
                settings_form.elements["max_fan_error"].value = result.data[0]['fan_error'];
                settings_form.elements["max_temp_warn"].value = result.data[0]['temp_warning'];
                settings_form.elements["max_temp_error"].value = result.data[0]['temp_error'];

            }
        });


}
</script>

<fieldset class="top" name="add" style="width: 420px;height:120px">
    <legend>Add Miner</legend>
    <form action="{{ url_for('minermedic.add_miner') }}" method="POST">
        <p>
            <label for="ip">IP Address: </label>
            <input required type="text" name="ip">
        </p>
        <p>
            <label for="model_id">Model: </label>
            <select required name="model_id">
                <option disabled selected value> -- select an option --</option>
                {%- for model in models|sort(attribute="model") %}
                    {%- if not model.model.startswith('ROOT_') %}
                        <option value="{{ model.id }}">{{ model.model }} - {{ model.description }}</option>
                    {%- endif %}
                {%- endfor %}
            </select>
        </p>
        <p><label></label><BR><input type="submit" value="Add miner" style="font-size:22px;float: right;"></p>
    </form>
</fieldset>


<fieldset id="settings" class="settings" name="settings" style="width: 320px">
    <legend>Edit Miner</legend>
    <form id="settings_form" action="{{ url_for('minermedic.edit_miner') }}" method="POST">
        <input type="hidden" id="miner_id" name="miner_id">
        <p>
            <label for="expected_hash_rate">HashRate:</label>
            <input type="text" id="expected_hash_rate" name="expected_hash_rate">
        </p>
        <p>
            <label for="max_fan_warn">Warning Fan Speed: </label>
            <input type="text" id="max_fan_warn" name="max_fan_warn">
        </p>
        <p>
            <label for="max_fan_error">Error Fan Speed: </label>
            <input type="text" id="max_fan_error" name="max_fan_error">
        </p>
        <p>
            <label for="max_temp_warn">Warning Temp: </label>
            <input type="text" id="max_temp_warn" name="max_temp_warn">
        </p>
        <p>
            <label for="max_temp_error">Error Temp:  </label>
            <input type="text" id="max_temp_error" name="max_temp_error">
        </p>
        <p>
            <label></label><BR><input type="submit" value="Edit miner" style="font-size:22px;float: right;">
        </p>

    </form>
</fieldset>


<fieldset class="right top" name="total_hashrate" style="width: 420px; height:120px">
    <legend>Total hashrate per model</legend>
    <ul>
        {%- for model in total_hash_rate_per_model|sort %}
            <li><u>{{ model }}:</u> <strong>{{ total_hash_rate_per_model[model] }}</strong>
            </li>
        {%- endfor %}
    </ul>
</fieldset>

<BR>
<br>
{%- with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }}">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{%- endwith %}

{%- if inactive_miners %}
    <fieldset name="inactive_miner_list">
        <legend>Inactive Miners ({{ inactive_miners|length }})</legend>
        <table style="width:100%">
            <tr class="inactive">
                <th>IP Address</th>
                <th>Model</th>
                <th>Status</th>
                <th>Remove</th>
            </tr>
            {%- for inactive_miner in inactive_miners|sort(attribute='ip') %}
                <tr>
                    <td><a target="_blank" href="http://{{ inactive_miner.ip }}:{{ inactive_miner.ui_port }}">{{ inactive_miner.ip }}</a></td>
                    <td>{{ inactive_miner.model.model }}</td>
                    <td>Error: Check connection or IP Address</td>
                    <td><a href={{ url_for('minermedic.delete_miner', id=inactive_miner.id) }}><img src="/static/images/assets/remove.png"></img></a></td>
                </tr>
            {%- endfor %}
        </table>
    </fieldset>
{%- endif %}

<br>

<BR><BR>
<fieldset name="active_miner_list">
    <legend>Active Miners ({{ active_miners|length }})</legend>
    <table style="width:100%">
        <tr class="miner">
            <th>IP Address</th>
            <th>Model</th>
            <th>Algo</th>
            <th>Pool</th>
            <th>Worker</th>
            <th>Chips<BR>GPUs</th>
            <th>Temps (Avg)</th>
            <th>Fan (Avg)</th>
            <th>Hashrate</th>
            <th>Error Rate %</th>
            <th>Uptime</th>
            <th>Status</th>
            <th>Settings</th>
            <th>Remove</th>
        </tr>
        {%- for active_miner in active_miners|sort(attribute='ip') %}
            <tr{%- if active_miner.id in miner_errors %} class="error"{%- endif %}>
                <td><a target="_blank" href="http://{{ active_miner.ip }}:{{ active_miner.ui_port }}">{{ active_miner.ip }}</a></td>
                <td title="{{ active_miner.model.description }}">{{ active_miner.model.model }}</td>
                <td>{%- if algos[active_miner.id] %}{{ algos[active_miner.id] }}{%- else %}NO DATA{%- endif %}</td>
                <td>{%- if pools[active_miner.id] %}{{ pools[active_miner.id] }}{%- else %}NO DATA{%- endif %}</td>
                <td>{%- if workers[active_miner.id] %}{{ workers[active_miner.id] }}{%- else %}NO DATA{%- endif %}</td>
                <td>{%- if miner_chips[active_miner.id] %}{{ miner_chips[active_miner.id]['summary']}}{%- else %}NO DATA{%- endif %}</td>
                <td>{%- if temperatures[active_miner.id] %}{{ temperatures[active_miner.id] }}{%- else %}NO DATA{%- endif %}</td>
                <td>{%- if fans[active_miner.id] %}{{ fans[active_miner.id] }}{%- else %}NO DATA{%- endif %}</td>
                <td>{%- if hash_rates[active_miner.id] %}{{ hash_rates[active_miner.id] }}{%- else %}NO DATA{%- endif %}</td>
                <td>{%- if hw_error_rates[active_miner.id] %}{{ hw_error_rates[active_miner.id] }}{%- endif %}</td>
                <td>{%- if uptimes[active_miner.id] %}{{ uptimes[active_miner.id] }}{%- else %}NO DATA{%- endif %}</td>
                <td title="{%- if active_miner.id in miner_errors %}{{ miner_errors[active_miner.id] }}{%- endif %}">
                    {%- if active_miner.id in miner_errors %}Check miner{%- else %}OK{%- endif %}</td>
                <td><img src="/static/images/assets/settings.png" onclick="edit_miner('{{ active_miner.id }}')"></img></td>
                <td><a href={{ url_for('minermedic.delete_miner', id=active_miner.id) }}><img src="/static/images/assets/remove.png"></img></a></td>
            </tr>
        {%- endfor %}
    </table>
</fieldset>

<br>
</i>

</body>
</html>