
<!-- This is slide "1" -->

{% extends "layout.html" %}
{% block title %}Info{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block carousel_indicator_1 %}active{% endblock %} 
{% block carousel_item_1 %}active{% endblock %}
{% block content1 %}

  <h1 class="mt-3 text-light">Info</h1>
  <p class="important">
	EDGE node running MinerMedic
	
	<div style="padding-top:20px; padding-left:20px;">
	
	<table id="infotable" class="infotable text-muted">
		
		{%- if health_status == None %}
			<tr><td>Health Status</td><td><h3><span class="badge badge-secondary">UNDEFINED</span></h3></td></tr>
		{%- elif health_status < 3 %}
			<tr><td>Health Status</td><td><h3><span class="badge badge-success">GOOD</span></h3></td></tr>
		{% elif health_status < 6   %}
			<tr><td>Health Status</td><td><h3><span class="badge badge-primary">DEGRADED</span></h3></td></tr>
		{% elif health_status < 9   %}
			<tr><td>Health Status</td><td><h3><span class="badge badge-warning">WARNING</span></h3></td></tr>
		{%- else %}
			<tr><td>Health Status</td><td><h3><span class="badge badge-danger">ALERT</span></h3></td></tr>
		{%- endif %}
		
		{%- if internet_status != 0 %}
			<tr><td>Internet Status</td><td><h3><span class="badge badge-success">GOOD</span></h3></td></tr>
		{%- else %}
			<tr><td>Internet Status</td><td><h3><span class="badge badge-danger">ALERT</span></h3></td></tr>
		{%- endif %}
		
		<tr>
			<td>License Status</td>
			<td>

				{%- if license_status == 0 %}
					<h3><span class="badge badge-success">{{licensed_objects}} Objects</span></h3>
				{%- else %}
					<h3><span class="badge badge-warning">{{licensed_objects}} Objects</span></h3>
					<div style="margin-top:-5px; font-size:14px;">{{unlicensed_objects}} unlicensed objects</div>
				{%- endif %}
					
			</td>
		</tr>
		<tr>
			<td>IP Address</td>
			<td>
				<h4><span class="badge badge-info">{{ ipaddress }}</span></h4>
				{%- if web_listen_port != 80 %}
					<div style="margin-top:-5px; font-size:14px;">Web URL: {{ ipaddress }}:{{web_listen_port}}</div>
				{%- endif %}
			</td>
		</tr>
		<tr><td>MAC Address</td><td><h4><span class="badge badge-info">{{ macaddress }}</span></h4></td></tr>
	</table>
	
	</div>
	
{% endblock %}